* {
    box-sizing: border-box;

}


body {
    background-color: teal;
    margin:0px;

}

.flex-main-container {
    display: flex;
    flex-direction: column;
    gap:0;

}


.flex-main-container nav{
    position:fixed;
    background-color: white;
    width: 100%;
    border-bottom: 3px solid black;

}

.flex-main-container nav div{
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    float: right;
  
}


.flex-main-container nav img {
    height: 13%;
    width: 8%;
    position: fixed;
    margin: 15px 0px 0px 30px;
    font-size: 20px;
    float: left;
    border-radius: 50%;
    border-bottom: 5px solid black;
  
}

.flex-main-container-filler {
    width: 100%;
    height: 125px;
    background-color: red;
    margin:0px;
    padding:0px;

}

.flex-main-container section div + div{
    width: 100%;
    background-color: red;
    margin-top:0px;

}